include tpm_wrapper_service/libs/windows/*.dll
include tpm_wrapper_service/libs/linux/x86_64/*.so*
include tpm_wrapper_service/libs/linux/aarch64/*.so*
recursive-include tpm_wrapper_service/vendor *

